<template>
  <header>
    <b-navbar toggleable="lg" type="light" variant="light p-6" align="center">
      <div class="container">
        <b-navbar-brand class="nav-brand-custom pl-5" to="/login"
          >AlgaeCal</b-navbar-brand
        >
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-navbar-nav>
              <b-nav-item to="/videos/">Video</b-nav-item>
              <div
                class="navbar-item has-dropdown is-hoverable"
                v-if="isAuthenticated"
              >
                <b-nav-item @click="logout">Logout</b-nav-item>
              </div>
              <div v-else>
                <b-nav-item to="/login">Login</b-nav-item>
              </div>
            </b-navbar-nav>
          </b-navbar-nav>
        </b-collapse>
      </div>
    </b-navbar>
  </header>
</template>

<script>
/*
*  This is the header component that appears all over the website
*
* importing the defined properties implemented in the Vuex store
*/
import { mapGetters, mapActions } from "vuex";

export default {
  computed: {
    //getting the global Vuex store authentication properties
    ...mapGetters("authentication", ["auth", "isAuthenticated"]),
  },
  methods: {
    /*
    * calling the logout action method defined in the Vuex store.
    * what the action does is destroy the current authentication properties
    * and routes the user back to the login page
    * 
    **/
    ...mapActions({ logoutUser: "authentication/logoutUser" }),
    logout: function () {
      this.logoutUser().then(() => {
        this.$router.push("login");
      });
    },
  },
};
</script>



<style scoped>
.nav-brand-custom {
  color: #013b30;
}
</style>