<template>
  <section class="videos">
    <div class="video">
      <div
        :class="
          'wistia_embed popover=true popoverContent=thumbnail playButton=true playerColor=013b30 wistia_async_' +
          video_id
        "
        style="height: 240px; width: 100%"
      >
        &nbsp;
      </div>
      <nuxt-link :to="'/videos/' + video_id">
        <div class="video-description">
          <h5 style="color: #013b30">{{ title }}</h5>
          <p>{{ description }}</p>
        </div>
      </nuxt-link>
    </div>
  </section>
</template>

<script>
export default {
  props: ["title", "description", "video_id"],
};
</script>
<style scoped>
.video-description {
  padding: 10px;
}
.video a {
  color: inherit;
}
.video a:hover {
  text-decoration: none;
}
</style>