<template>
  <div class="b-container">
    <div class="logForm">
      <div>
        <div>
          <h3>User Login</h3>
        </div>
        <div class="notification text-danger">
          {{ message }}
        </div>
        <div class="p-4">
          <form class="text-left px-4">
            <div>
              <b-form-input
                v-model="UserInfo.username"
                id="input-small"
                name="username"
                size="sm"
                placeholder="Your Username"
              ></b-form-input>
            </div>
            <div class="mt-3 pb-3">
              <b-form-checkbox
                v-model="UserInfo.checkBox"
                label="Form-checkbox inline"
                id="checkbox-1"
                name="checkbox-1"
                value="accepted"
                unchecked-value="not_accepted"
              >
                Remember me
              </b-form-checkbox>
            </div>
            <div class="butn mt-3 text-center">
              <b-button
                id="subBtn"
                type="button"
                @click="submitForm(UserInfo)"
                size="sm"
                class="pill btn-custom-success"
                :disabled="UserInfo.username.length < 3"
              >
                Login
              </b-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  /*
  * creating the component of the login page.
  * it will accept a single input "username" and 
  * the function to execute the form whereever it is called.
  * 
  * 
  * This component is used whenever the login screen is called in any page
  */
  name: "LoginForm",
  data() {
    return {
      valid: false,
      UserInfo: {
        username: "",
      },
    };
  },
  props: ["submitForm", "message"],
};

</script>

<style scoped>
.b-container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #013b30;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.btn-custom-success {
  background-color: #027d61;
  color: white;
  padding: 2px 20px;
  min-width: 100px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.links {
  padding-top: 15px;
}

.logForm {
  width: 30%;
  background-color: white;
  height: 70%;
}

h3 {
  padding: 40px;
  color: rgb(31, 177, 150);
}

/* {
  background-color: #013B30;
} */
</style>