<template>
    <div class="container">
    <div class="b-row pl-5 pt-4">
      <div class="" text-align="center">  
        <nuxt-link :to="'/videos/'">
          <p style="color: #013b30">Back</p>
      </nuxt-link>
      </div>
    </div>
    <div class="row" align="">
      <b-col cols="6" style="margin:auto;float:none;overflow:hidden;">
        <div>
          <h3 class="text-left">Video Player</h3>
        </div>
        <div>
          <script
            charset="ISO-8859-1"
            src="//fast.wistia.com/assets/external/E-v1.js"
            async
          ></script>
          <div
            :class="
              'wistia_embed popoverOverlayColor=013b30 popover=true popoverContent=thumbnail playButton=true playerColor=013b30 wistia_async_' +
              video_id
            "
            style="height: 360px; width: 100%;"
          >
            &nbsp;
          </div>
        </div>
        <div class="text-left pt-3">
          <div>
            <h5 style="color: #013b30">{{ title }}</h5>
          </div>
          <div>
            <p>{{ description }}</p>
          </div>
        </div>
      </b-col>
    </div>
  </div>
</template>

<script>
/* 
* Axios is a package I installed to connect to apis created.
* it allows us to truly use the power of nuxtjs
* its one of the great beenfits of using nuxtjs. 
*
* middleware to check for authorisation of username for access privileges
* Props are the properties this component will 
* recieve as input from any page that calls it
*
* This component is used to play a single video using the video_id of the requested video
*/
import axios from "axios";

export default {

  middleware: "authenticated",
  props: ["title", "description", "video_id"],
};
</script>


<style scoped>

</style>