<template></template>
<script>
/*
* the purpose of the page is to redirect every user to the login page
*/
export default {
  middleware({ store, redirect }) {
    return redirect("/login");
  },
};
</script>