<template>
  <LoginForm :submitForm="loginUsername" :message="message" />
</template>

<script>
/*
* The loginForm component is used here. This is the login page of the website
*
* import all the dependencies of this page. 
* MapActions to access the methods created in the Vuex store 
*
* Middleware to redirect the user is authenticated using the information 
* saved in the vuex store global variable
*
*
* loginUsername is the name of the function that is executing the login form.
* loginUser is a method created in the authentication file in the Vuex store.
* once user is successfully, the user is redirected to the /video home page
*/
import { mapActions } from "vuex";
import LoginForm from "@/components/LoginForm";

export default {
  middleware: "redirectIfAuthenticated",
  components: {
    LoginForm,
  },
  data() {
    return {
      message: "",
    };
  },
  methods: {
    ...mapActions({ loginUser: "authentication/loginUser" }),
    async loginUsername(loginInfo) {
      this.loginUser(loginInfo)
        .then(() => {
          this.$router.push("videos");
        })
        .catch((err) => (this.message = err.response.data.error.description));
    },
  },
};
</script>

<style scoped>
</style>
