<template>
  <VideoPlayer
    :title="video.title"
    :description="video.description"
    :video_id="video.video_id"
  />
</template>

<script>
/*
* This page serves as the page to view a single video.
* the VideoPlayer component is used here and the necessary arguments 
* are passed to it. 
*  
* Using the asyncData, we connect to the api that retrieves the information
* of a particular video. Here, I used the param variable provided 
* by nuxt to access the nuxt routing class method Id, which in this case is the Id of the particular
* video we want retrieved.
*
*/
import axios from "axios";
import VideoPlayer from '@/components/VideoPlayer'

export default {
  middleware: "authenticated",
  components: {
    VideoPlayer,
  },
  async asyncData({ params }) {
    const { data } = await axios.get(
      `${process.env.baseUrl}/videos/${params.id}`
    );
    return { video: data.data };
  },
};
</script>

<style scoped>
</style>