<template>
  <b-container>
    <b-row class="pb-5 pl-5">
      <b-col class="pt-5 video">
        <b-dropdown id="dropdown-left" text="Video Filter" class="w-25" variant="light">
          <b-dropdown-item v-for="video of videos" :key="video.video_id">
            <nuxt-link :to="'/videos/' + video.video_id">
                {{ video.title }}
            </nuxt-link>
          </b-dropdown-item>
        </b-dropdown>
      </b-col>
    </b-row>
    <b-row class="pl-5">
      <script
        charset="ISO-8859-1"
        src="//fast.wistia.com/assets/external/E-v1.js"
        async
      ></script>
      <div class="video-list">
        <div v-if="showLess">
          <div></div>
        </div>
        <div class="video-item" v-for="video of videos" :key="video.video_id">
          <ListVideo
            :title="video.title"
            :description="video.description"
            :video_id="video.video_id"
          />
        </div>
      </div>
    </b-row>
  </b-container>
</template>

<script>
/*
* this page is the Video home page. Here you find the list of all the videos available.
* The 
*
* The listVideo component is used here. the component is a single list that can be iterated
* to create other similar video list. In this case, the list of videos available is iterated 
* over using the template of single list to create multiple list.
*
*
*
* axios is used to connect to the Video API and processed used the nuxt asyncData module
*
* only authenticated users can view this page. as you see the authenticated middleware is present
*
*/
import axios from "axios";
import ListVideo from "@/components/ListVideo";

export default {
  middleware: "authenticated",
  components: {
    ListVideo,
  },
  async asyncData({ params }) {
    let { data } = await axios.get(process.env.baseUrl+"/videos");
    return { videos: data.data };
  },
};
</script>

<style scoped>
.b-container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}
.video-list {
  display: flex;
  flex-wrap: wrap;
}
.video-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 31%;
  max-width:31%;
  margin:10px;
  -webkit-box-shadow: -1px 7px 12px -4px rgba(133, 133, 133, 1);
  -moz-box-shadow: -1px 7px 12px -4px rgba(133, 133, 133, 1);
  box-shadow: -1px 7px 12px -4px rgba(133, 133, 133, 1);
  overflow: hidden;
}
.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
.videos {
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.videos:after {
  content: "";
  display: table;
  clear: both;
}
.video {
  box-sizing: border-box;
  float: left;
  width: 30%;
  justify-content: center;
  /* padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px #aaa;
  margin: 10px;
  display: inline; */
}
.thumbnail {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
}

.video a {
  color: inherit;
}
.video a:hover {
  text-anchor: "click title";
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .video {
    width: 100%;
  }
}
</style>
